[defaults]
host_key_checking = False
remote_user = ubuntu
inventory = hosts, ./inventory  ; This points to the file that lists your hosts

[inventory]
enable_plugins = yaml, ini
inventory= ./inventory