# OpenCTI Variables
OPENCTI_ADMIN_EMAIL=ChangeMePlease
OPENCTI_ADMIN_PASSWORD=ChangeMePlease
OPENCTI_ADMIN_TOKEN=uuidgen
OPENCTI_BASE_URL=http://opencti:8080

# MinIO Variables
MINIO_ROOT_USER='uuidgen'
MINIO_ROOT_PASSWORD='uuidgen'

# RabbitMQ Variables
RABBITMQ_DEFAULT_USER=newuser
RABBITMQ_DEFAULT_PASS=newpassword

# CrowdStrike Variables
CROWDSTRIKE_CLIENT_ID=uuidgen
CROWDSTRIKE_CLIENT_SECRET=uuidgen

# GitHub Token
NS_GITHUB_TOKEN=CreateGitHubTokenForConnector

# Feedly API
FEEDLY_API_KEY=RequestAPI
FEEDLY_STREAM_IDS=Feed1,Feed2,Feed3,Feed4,Feed5,Feed6,Feed7

# Alienvault Token
ALIENVAULT_KEY=uuidgen	

# Elasticsearch Variables
ELASTIC_MEMORY_SIZE=16G

# Connector IDs
CONNECTOR_HISTORY_ID=uuidgen
CONNECTOR_EXPORT_FILE_STIX_ID=uuidgen
CONNECTOR_EXPORT_FILE_CSV_ID=uuidgen
CONNECTOR_IMPORT_FILE_STIX_ID=uuidgen
CONNECTOR_EXPORT_FILE_TXT_ID=uuidgen
CONNECTOR_IMPORT_DOCUMENT_ID=uuidgen
CONNECTOR_ANALYSIS_ID=uuidgen

# SMTP Variables
SMTP_HOSTNAME=localhost