[Unit]
Description=Gunicorn instance to serve Flask Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/GIS-SecEng-Intern/project-emu-develop
Environment="PATH=/home/ubuntu/GIS-SecEng-Intern/project-emu-develop/venv/bin"
ExecStart=/home/ubuntu/GIS-SecEng-Intern/project-emu-develop/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target