{% extends 'base.html' %}
<head>
    {% block title %} SBOM Manager - SSO Setup {% endblock %}
</head>
{% block content %}
    <h1 class="page_title">SSO Setup</h1>
    
    <div class="container mt-4">
        <form action="{{ url_for('configure_sso') }}" method="POST">
            <div class="mb-3">
                <label for="oidcProvider" class="form-label">OIDC Provider</label>
                <select class="form-select" id="oidcProvider" name="OIDC_PROVIDER">
                    <option value="Auth0" {% if OIDC_PROVIDER == "Auth0" %}selected{% endif %}>Auth0</option>
                    <option value="Okta" {% if OIDC_PROVIDER == "Okta" %}selected{% endif %}>Okta</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="providerDomain" class="form-label">Provider Domain</label>
                <input type="text" class="form-control" id="providerDomain" name="PROVIDER_DOMAIN" value="{{ PROVIDER_DOMAIN }}">
            </div>
            <div class="mb-3">
                <label for="clientId" class="form-label">Client ID</label>
                <input type="text" class="form-control" id="clientId" name="CLIENT_ID" value="{{ CLIENT_ID }}">
            </div>
            <div class="mb-3">
                <label for="clientSecret" class="form-label">Client Secret</label>
                <input type="password" class="form-control" id="clientSecret" name="CLIENT_SECRET" placeholder="{{ '•' * CLIENT_SECRET_LENGTH }}">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    
{% endblock %}