{% extends 'base.html' %}

<head>
    {% block title %} SBOM Manager {% endblock %}
</head>
{% block content %}
<h1 class="page_title">Welcome, {{ user.name }}!</h1>
<br><br>
<div class="charts-container">
    <div class="chart-wrapper">
        <canvas id="vendorsChart" height="100"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="vulnerabilitiesChart" height="100"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Code for the vendors chart
    const vendorsCtx = document.getElementById('vendorsChart');

    new Chart(vendorsCtx, {
        type: 'line',
        data: {
            labels: ['', '', '', '', '', ''],
            datasets: [{
                label: '',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 3,
                borderColor: 'rgb(255, 99, 132)',
            }]
        },
        options: {
            animation: {
                duration: 1500,
                easing: 'easeInOutQuart',
            },
            scales: {
                y: {
                    display: false
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Vendors',
                    font: {
                        size: 20
                    },
                    subtitle: {
                        display: true,
                        text: '10 Vendors',
                        font: {
                            size: 16
                        }
                    }
                },
                legend: {
                    display: false
                }
            },
            tooltips: {
                enabled: false
            }
        }
    });

    // Code for the vulnerabilities chart
    const vulnerabilitiesCtx = document.getElementById('vulnerabilitiesChart');

    new Chart(vulnerabilitiesCtx, {
        type: 'bar',
        data: {
            labels: ['Severity 1', 'Severity 2', 'Severity 3', 'Severity 4'],
            datasets: [{
                label: 'Vulnerabilities',
                data: [5, 10, 8, 3],
                backgroundColor: ['red', 'orange', 'yellow', 'green'],
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Vulnerabilities',
                    font: {
                        size: 20
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
